/* media query when screen is larger than 768px. If [device width] is greater than or equal to the given pixels, run code */
@media only screen and (min-width: 375px) and (max-width: 768px) {
  @import url("https://fonts.cdnfonts.com/css/poppins");

  body {
    height: 100%;
    background: #fff;
  }

  .header {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 44px;
    bottom: 5px;
    max-width: 100%;
    height: 92px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
  }

  .logo img {
    padding: 10px 12px;
    position: absolute;
    height: 70px;
    left: 12px;
  }

  .menu-icons {
    /* Icons/Icon - Menu */

    max-width: 100%;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .menu-button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 24px;
    border-radius: 8px;
  }

  .headline {
    /* Headline */

    /* Auto layout */
    max-width: 100%;
    display: flex;
    position: relative;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    padding: 114px 24px;
    gap: 12px;
    height: 604px;

    /* left: calc(50% - 375px / 2); */
    top: 92px;
    background-image: url(assets/images/header-bg/header-shapes-mobile.svg);
  }

  .headline h1 {
    width: 100%;
    height: 150px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    /* or 130% */

    display: flex;
    align-items: center;

    /* Neutrals/N800 */

    color: #172b4d;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .headline p {
    /* Primary Text */

    width: 100%;
    height: 146px;

    /* Body / 2 */

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    /* or 150% */

    /* Neutrals/N600 */

    color: #344563;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .toolbar {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 44px;
    bottom: 20px;
  }

  .navbar {
    /* Normal Button/Tertiary/Enabled */

    /* Auto layout */

    /* display: flex;
    flex-direction: row;
    align-items: flex-start; */
    padding: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 24px;
    top: calc(50% - 40px / 2);
    border-radius: 8px;
  }

  .social-media {
    /* Social Media */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 117px;
    height: 24px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .social-media p {
    /* LET’S CONNECT */

    width: 117px;
    height: 24px;

    /* Body / 2 - Bolder */

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height, or 150% */

    /* Primary/B300 */

    color: #7f8cff;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .social-media-icons li {
    margin-right: 10px;
  }

  .social-media-icons {
    width: 170.17px;
    height: 20px;

    /* Inside auto layout */

    /* flex: none; */
    flex-wrap: wrap;
    order: 3;
    flex-grow: 0;
    list-style-type: none;
    display: flex;
    justify-content: inherit;
    align-items: flex-start;
    padding: 2px;
  }

  .works {
    /* Card Works */

    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 12px;

    width: 100%;
    height: 552px;

    /* Neutrals/N0 */

    background: #ffffff;
    /* Neutrals/N40 */

    border: 1px solid #dfe1e6;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .snapshot {
    /* Snapshoot Portfolio */

    width: 100%;
    height: 220px;

    background: url(blog_drbl_4x.png);
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .card-info {
    /* Left Block */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 100%;
    height: 288px;
  }

  .primary-text {
    /* Primary Text */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 100%;
    height: 80px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .title {
    /* Project Title */

    width: 100%;
    height: 36px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    /* or 138% */

    /* Neutrals/N800 */

    color: #172b4d;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .work-info {
    /* Frame 2 */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;

    width: 100%;
    height: 32px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .client {
    /* Client */

    /* Auto layout */

    padding: 8px 0px;

    width: 55px;
    height: 42px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .client p {
    /* Text */

    width: 100%;
    height: 16px;

    /* Caption / 1 - Bolder */

    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }
  .counter {
    /* Counter */

    width: 8px;
    height: 8px;
    border-radius: 4px;
    /* Neutrals/N50 */

    background: #c1c7d0;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .role {
    /* Role */

    /* Auto layout */

    /* display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px; */

    width: 88px;
    height: 42px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .role p {
    /* Text */

    width: 88px;
    height: 16px;

    /* Caption / 1 - Bolder */

    font-family: "Poppins", sans-pro;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height, or 123% */

    /* Neutrals/N100 */

    color: #7a869a;
  }

  .counterone {
    /* Counter */

    width: 8px;
    height: 8px;
    border-radius: 4px;
    /* Neutrals/N50 */

    background: #c1c7d0;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
  }

  .year {
    /* Year Label */

    /* Auto layout */

    /* display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px; */

    width: 29px;
    height: 42px;

    /* Inside auto layout */

    flex: none;
    order: 4;
    flex-grow: 0;
  }
  .year p {
    /* Text */

    width: 29px;
    height: 16px;

    /* Caption / 1 - Bolder */

    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height, or 123% */

    /* Neutrals/N100 */

    color: #7a869a;

    /* Inside auto layout */
  }
  .description-text {
    /* Primary Text */

    width: 100%;
    height: 76px;

    /* Body / 3 */

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    /* or 160% */

    /* Neutrals/N600 */

    color: #344563;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .language-tags {
    /* Tags */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    list-style-type: none;

    width: 214px;
    height: 24px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .html-lan {
    /* Tag */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;

    width: 57px;
    height: 24px;

    /* Primary/B50 */

    background: #ebebff;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  li.html-lan {
    /* HTML */

    width: 33px;
    height: 16px;

    /* Button / Small */

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.03em;

    /* Primary/B400 */

    color: #6070ff;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .css {
    /* Tag */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;

    width: 49px;
    height: 24px;

    /* Primary/B50 */

    background: #ebebff;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  li.css {
    /* CSS */

    width: 25px;
    height: 16px;

    /* Button / Small */

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.03em;

    /* Primary/B400 */

    color: #6070ff;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .javascript {
    /* Tag */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;

    width: 92px;
    height: 24px;

    /* Primary/B50 */

    background: #ebebff;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
  }
  li.javascript {
    /* JavaScript */

    width: 68px;
    height: 16px;

    /* Button / Small */

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 0.03em;

    /* Primary/B400 */

    color: #6070ff;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .action {
    /* Action */

    width: 295px;
    height: 72px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
  }
  .action-button {
    /* Button /Normal */
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    width: 126px;
    height: 48px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    gap: 10px;
    background-color: white;

    /* Primary/B500 */

    color: #396df2;

    /* Primary/B400 */

    border: 1px solid #6070ff;
    border-radius: 8px;
    margin-left: 5px;
    left: 20px;
    top: calc(50% - 48px / 2);
  }
  .projects {
    display: flex;
  }
}
